 .sidenavnav {
  height: 100%;
  /* width: 350px; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.sidenavnav a:hover {
  color: #000000;
}

.main {
  /* Same as the width of the sidenavnav */
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.container{
    width:92%  !important;
    margin:0px auto im !important;
}
.green{
    /* background-image: linear-gradient(#58b04c,#78BC3B )  !important; */
    background:#51af4f !important;
}
.collection{
    border:none !important;
    width:100% !important;
    margin:0px !important;
}
.collection-item-nav{
    border:none !important;
    padding:20px 20px 20px 20px  !important;
    margin-top:5px !important;
    background:#eee;
    width:300px;
    opacity:0.8;
}
.collection-item-nav:hover{
   background:#fff !important;
    opacity:1;

}
.p-16{padding:16px;}
.m-16{margin:16px;}
.pl-25{padding-left:25px;}
.pl-50{padding-left:50px;}
.pl-100{padding-left:100px;}
.pl-120{padding-left:120px;}
.pb-25{padding-bottom:25px;}
.pb-50{padding-bottom:50px;}
.pb-100{padding-bottom:100px;}
.pb-120{padding-bottom:120px;}
.pt-25{padding-top:25px;}
.pt-50{padding-top:50px;}
.pt-100{padding-top:100px;}
.pt-120{padding-top:120px;}
.mt-25{margin-top:25px;}
.mt-50{margin-top:50px;}
.mt-100{margin-top:100px;}
.mt-120{margin-top:120px;}
.mb-25{margin-bottom:25px;}
.mb-50{margin-bottom:50px;}
.mb-100{margin-bottom:100px;}
.mb-120{margin-bottom:120px;}


